<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary" [routerLink]="['/lugar']">
    Lugar Page
  </ion-button>

  <ion-button color="primary" [routerLink]="['/perfil/Efra']">
    Perfil Page
  </ion-button>
  <p padding>
    asdfaskdfasdsdfassdfasdlfkjaskldjfaskldfnjweu
  </p>
  <p padding-left>
      asdfaskdfasdsdfassdfasdlfkjaskldjfaskldfnjweu
  </p>
  <p text-capitalize>
      mayusculas y mINUSCULAS
  </p>
  <p text-nowrap>
      qwertyuioñlmnbvcsawertyufaskldf asjdflkj wewfjwoeijfaslkdjfiwjefi wigjw iegeoifjasjdfqu ofiqwf oija fisjdifoq woif q
  </p>
</ion-content>

<ion-footer>
  <p>Soy un footer</p>
</ion-footer>
